<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
        <%include ../partials/bootstrap%>
        <link rel="stylesheet" href="/css/toastr.min.css">
        <link rel="stylesheet" href="/editor/summernote.css">
    <title>Sermon | <%=sermon.title%></title>
</head>

<body>
    
    <div class="dashboard-main-wrapper">
        <%include ../partials/navbar%>
        <%include ../partials/sidebar%>
       
            
                <div class="container  dashboard-content ">                    
                        <div class="row justify-content-center">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-4 mt-2">
                                        <div style="padding-left:12em">
                                            <h2 class="pageheader-title">Church Management System Dashboard </h2>
                                            <div class="page-breadcrumb">
                                                <nav aria-label="breadcrumb">
                                                    <ol class="breadcrumb">
                                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                                        <li class="breadcrumb-item" aria-current="page">Sermons</li>
                                                        <li class="breadcrumb-item active" aria-current="page">View Sermon</li>
                                                    </ol>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                <!-- Sermon injection -->
                                <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12 mt-3 col-12 mb-5  ">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title border-bottom pb-2"><%=sermon.title%><span class="badge badge-info float-right">  <%=sermon.catname%> </span></h3>
                                                <p class="card-text text-justify"><%-sermon.contents%></p><hr>
                                                <p class="card-text">Created: &emsp;<%=sermon.created_at%></p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <%include ../partials/footer%>
                    </div>
       
    <!-- Optional JavaScript -->
    <%include ../partials/javascript%>
    <script src="/js/toastr.min.js"></script>
    <script src="/editor/summernote.js"></script>
    <script>
        $(()=>{
            $('#textEdit').summernote();
        })
    </script>
    
</body>
 
</html>